node_modules
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# IDE
.vscode
.idea

# macOS
.DS_Store

# npm
package-lock.json
yarn.lock

# Hardhat
cache/
artifacts/
config.bat
